.pdBtm10 {
    margin-bottom: 30px;
}
.select {
    border: 1px solid #ced4da;
    color: #495057;
}

.mgtp30 {
    margin-top: 30px !important;
}

.mgbt30 {
    margin-bottom: 30px !important;
}

@media screen and (min-width: 960px) {
    /* 960px以上に適用されるCSS（PC用） */
    .textArea {
        width: 500px;
    }
}
